    body{
      background-color: white;
      color: #ff3131;
    }
    h1{
      text-align: center;
      padding: 0 50px 0 50px;
    }
    .my{
      border: none;
      color: #ff3131;
      border: solid 2px #ff3131;
      border-radius: 20px;
      padding: 10px 15px 10px 15px;
      background-color: white;
      margin: 0 0 20px 0;
    }
    .my:hover{
      color: white;
      background-color: #ff3131;
    }
    .mybox{
      background-color: white;
      color: #ff3131;
      border-radius: 20px;
      box-shadow: 30px;
    }
    #resultado{
        font-size: 20px;
        color: gray;
    }
    #pre3{
        font-size: 20px;
    }